body{
    margin: 0px;
    background-color: rgb(227, 227, 227);
}

.full_body{
    margin-top: -35px;
}

.title{
    text-align: center;
    background-color:black;
    color: white;
    height: 100px;
    width: 100%;
}

.title h1{
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.container_search_input{
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.search_box{
    height: 30px;
    width: 250px;
    border-radius: 50px;
    font-size: 15px;
    padding-left: 15px;
}

.search_button{
    margin-left: 10px;
    height: 25px;
    background-color:rgb(227, 227, 227);
    margin-bottom: -9px;
}

.movie_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:rgb(24, 51, 59);
    margin: 20px;
    padding: 30px;
    width: 700px;
}

@media (max-width: 800px) {
    .card{
        width: 300px;
        display: block;
    }
    .movie_title{
        margin: 0px 0px;
    }
    .movie_description{
        margin-left: -250px;
    }
}

@media (min-width: 800px) {
    .movie_description{
        margin-left: -230px;
    }
}

.movie_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0px 250px;
}

.value{
    font-size: 15px;
    width: 200px;
}



